.menu {
	margin-bottom: 25px;
}

.app {
	margin-top: 25px;
}

.pagina {
	border:solid 1px #DFDFDF;
	padding:25px !important;
}

li.list-group-item.active {
	background-color: #fff;
	border-color: #009933;
    border-left:solid 10px #009933;
}

li a {
	color: #212529;
}

li a:hover {
	text-decoration: none;
}

h4 {
	color: #009933 !important;
}

.forme {
	width: 30rem;
	height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.selecao {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fundoLogin {
	background: #252525 url("img/feira.jpg") no-repeat right top fixed;
}

